body {
    background-color: rgb(30, 35, 22);
  }

  .title{
    color: green;
    text-align: center;
  }

  #button4{
    display: none;
  }
  
  #text {
    background-color: rgb(35, 30, 30);
    color: lightgrey;
    padding: 10px;
  }
  
  #game {
    max-width: 800px;
    height: 100%;
    background-color: lightgray;
    color: white;
    margin: auto;
    padding: 10px;
  }
  
  #controls {
    border: 1px black solid;
    padding: 5px;
  }
  
  #stats {
    border: 1px black solid;
    color: black;
    padding: 5px;
  }
  
  #monsterStats {
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: red;
  }
  
  .stat {
    padding-right: 10px;
  }

  /* .game-container {
    
  } */

  .setting img {
    display: flex;
    width: 50%;
    margin: auto;
    display: none;
  }